<div class="top-image">
  <div class="image-mask">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 top-box">

          <h1 class="top-title">
            Welcome<br/>
            To<br/>
            <span>Favorite Liquor</span>
          </h1>

          <h3 class="top-text">
            <span>お酒との出会いは一期一会</span><br/>
            さぁ、あなたの<span>一番のお気に入り</span>を見つけよう
          </h3>

          <%= link_to "sign_up", new_user_registration_path, class: "btn  btn-sm btn-success mb-3 sign_in" %>
          <%= link_to "Log in", new_user_session_path, class: "btn  btn-sm btn-info mb-3 sign_up" %>
        </div>

        <div class="col-lg-12">
          <%= render 'user/homes/slideber', liquor: @liquor %>
        </div>
      </div>
    </div>
  </div>
</div>