<div class="form-group genre">
  <%= f.label :"ジャンル", class: "col-sm-5 control-label" %><br/>
  <%= f.select :liquor_genre, [
    ["ビール", "ビール"],
    ["ワイン", "ワイン"],  
    ["焼酎", "焼酎"], 
    ["日本酒", "日本酒"],
    ["ウイスキー", "ウイスキー"],
    ["ブランデー", "ブランデー"],
    ["カクテル", "カクテル"],
    ["ラム", "ラム"],
    ["ウォッカ", "ウォッカ"],
    ["ジン", "ジン"],
    ["テキーラ", "テキーラ"],
    ["リキュール", "リキュール"],
    ["その他", "その他"]
  ],  :prompt => "選択してください" %>
</div>