// Place all the styles related to the user/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//スライドページ
.slider-title {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}

.liquor-slider {
  width: 100%;
  background-color: rgba( 0, 0, 0, 0.5);
  margin-top: 100px;
  padding: 60px 40px 30px 45px;
}

.slider-box {
  width: 100%;
}

.slider-image-name {
  font-size: 16px;
  color: #fff;
}

//about

.about-all-box {
  text-align: center;
}

.about-top {
  border-bottom: solid 3px #a9a9a9;
}

.about-title-image {
  margin: 50px auto;
  border-bottom: solid 3px #a9a9a9;
}

.about-title-image1 {
  margin: 50px auto;
}

.about-box1  {
  margin: 50px auto;
  border-bottom: solid 3px #a9a9a9;
}

.about-image {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
}

.about-image-box {
  margin: auto;
}

.about-image-text {
  margin-top: 10px;
}