// Place all the styles related to the user/liquors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//liquor/index部分
.card {
  width: 350px;
  margin: auto;
  margin-top: 20px;
}


//liquor/new部分

.liquor-new {
  margin: 20px;
  text-align: center;
}

.shop-form-list {
  font-size: 20px;
  margin-top: 30px;
}

#bar {
 display: none;
}

.create-btn {
  margin: 30px;
}

//liquor/show部分
.liquor-show {
  margin: 10px;
}

.liquor-image {
  margin-left: 70px;
  margin-top: 20px;
  width: 400px;
  border: solid 1px #a9a9a9;
}

.liquor-show-text {
  margin-top: 20px;
  margin-right: 80px;
  background-color: #fff;
  width: 250px;
  height: 400px;
  border: solid 1px #a9a9a9;
}

.liquor-user {
  border-bottom: solid 1px #a9a9a9;
  font-size: 16px;
  font-family: Arial;
}

.liquor-user-image {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.liquor-user-name {
  margin-left: 10px;
}


.liquor-name {
  font-size: 16px;
  font-family: Arial;
  border-bottom: solid 1px #a9a9a9;
}

.liquor-name-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.liquor-introduction {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #a9a9a9;
  font-size: 16px;
}

.liquor-rate {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.favorite-comment {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;

}

.liquor-day {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.restaurant-info {
  margin-top: 20px;
  background-color: #fff;
  width: 400px;
  height: 400px;
}

.liquor-tags {
  font-size: 20px;
  margin: 0px 70px;
}

.edit-btn {
  margin: 20px 70px;
}

.comment-favorite {
  margin: 20px 70px;
}

.comments {
  width: 100%;
  background: rgba(255,255,255,0.5);
  padding: 10px 20px;
}

.current-user-plofile {
  font-size: 16px;
  color: #fff;
  padding: 0px 20px 0px 0px;
  text-align: center
}

.current-user-comment {
  padding: 0px 50px;
  font-size: 20px;
  text-align: center
}

.destroy-btn {
  padding: 0px 100px;
}

//edit

.edit-liquor {
  text-align: center;
  margin: 50px;
}


//user/show
.liquor-post {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 30px 0;
  margin: auto 0;
}

.post:nth-child(-n+3) {
  margin-top: 0;
}

.post:nth-child(3n) {
  margin-right: 0;
}