// Place all the styles related to the user/liquors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//liquor/index部分
.card {
  width: 350px;
  margin: auto;
  margin-top: 20px;
}

.plofile-box {
  margin-top: 20px;
}

//liquor/new部分

.liquor-new {
  margin: 10px;
}


//liquor/show部分
.liquor-show {
  margin: 10px;
}

.liquor-image {
  margin-left: 70px;
  margin-top: 20px;
  width: 400px;
  border: solid 1px #a9a9a9;
}

.liquor-show-text {
  margin-top: 20px;
  margin-right: 80px;
  background-color: #fff;
  width: 250px;
  height: 400px;
  border: solid 1px #a9a9a9;
}

.liquor-user {
  border-bottom: solid 1px #a9a9a9;
  font-size: 16px;
  font-family: Arial;
}

.liquor-user-image {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.liquor-user-name {
  margin-left: 10px;
}


.liquor-name {
  font-size: 16px;
  font-family: Arial;
  border-bottom: solid 1px #a9a9a9;
}

.liquor-name-text {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.liquor-introduction {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #a9a9a9;
  font-size: 16px;
}

.liquor-rate {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.favorite-comment {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;

}

.liquor-day {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.restaurant-info {
  margin-top: 20px;
  background-color: #fff;
  width: 400px;
  height: 400px;
}



//user/show
.liquor-post {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 30px 0;
  margin: auto 0;
}

.post:nth-child(-n+3) {
  margin-top: 0;
}

.post:nth-child(3n) {
  margin-right: 0;
}